

<div class="about-main">
  <h2>SQillとは</h2>
  <p>
    ようこそ！
    ここでは，あなたの知識や経歴を
    生かして，世の中の疑問に答えたり．
    専門家との繋がりが作れます．
    ​
    また，日本中にいる同じ分野の研究者，学生と交流ができます．
  </p>
  <img class="about-img" src="/sam01.jpg">
</div>
