

<div class="about-main">
  <h2>SQillとは</h2>
  <p>
    ようこそ！
    ここでは，あなたの知識や経歴を
    生かして，世の中の疑問に答えたり．
    専門家との繋がりが作れます．
    ​
    また，日本中にいる同じ分野の研究者，学生と交流ができます．
  </p>
  <img class="about-img" src="/sam01.jpg">
</div>
<div class="overlay">
  <div class="form-heading">ログイン</div>
  <div class="form users-form">
    <div class="form-body">
      <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
      <% end %>
      <%= form_tag("/login") do %>
          <p>メールアドレス</p>
          <input name="email" value="<%= @email %>" >
          <p>パスワード</p>
          <input type="password" name="password" value="<%= @password %>">
          <input type="submit" value="ログイン">
      <% end %>
    </div>
  </div>
</div>
